<ion-view> 
    <ion-nav-title>
        <button class="button button-clear button-dark" ng-click="shop_intro.beCollapsed = !shop_intro.beCollapsed">
          {{shop_intro.selectedGender.type}} <i class="fa fa-chevron-down"></i>
        </button>
        <hr>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-stable" ng-click="shop_intro.openProductSort()">Sort</button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div collapse="shop_intro.beCollapsed">
            <div class="list">
                <div class="item" ng-repeat="gender in shop_intro.genders">
                    <button class="button button-clear button-dark" ng-click="shop_intro.changeGender(gender)">
                    {{gender.type}}
                    </button>
                </div>
            </div>
        </div>
        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll" has-bouncing="false">
                        <a ng-repeat="tag in shop_intro.tags track by $index" on-finish-render="test()">{{tag.type}}</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index); shop_intro.changeTag($index)">
                <ion-slide ng-repeat="i in shop_intro.tags">
                    <div class="product-thumbnail"  ng-repeat="product in shop_intro.tags[$index].products"
                                                    ng-click="shop_intro.openProductDetail(product.id)">
                        <img ng-src="{{product.images[0].image}}">
                        <div>
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <h4>{{product.brand.name}}</h4>
                        <h5>{{product.name}}</h5>
                        <p>{{product.price  | number:0  }}</p>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>

</ion-view>