<ion-view class="has-transparent-nav">
	<ion-nav-bar class="nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-buttons>
    	<span class="fa-stack fa-lg" ng-click="channel_detail.goBack()">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
		</span>
    </ion-nav-buttons>
    <ion-content>
    	<div class="channel-profile">
    		<img ng-src="{{channel_detail.channel.background}}">
			<div>
				<img ng-src="{{channel_detail.channel.image}}">
				<h5>{{channel_detail.channel.name}}</h5>
				<p>{{channel_detail.channel.channel_follows_of_channel.length}}명이 팔로우 중</p>
				<button>팔로우 하기</button>
			</div>
    	</div>
    	<div class="padding">
	      	<div class="cody-thumbnail" ng-click="channel_detail.openCodyDetail(cody.id)" ng-repeat="cody in channel_detail.channel.codies_of_channel">
		        <img ng-src="{{cody.image}}" >
		        <div>
		          <h4>{{cody.title}}</h4>
		        </div>
	      	</div>
      	</div>
    </ion-content>
</ion-view>
