<ion-view class="has-transparent-nav">
	<ion-nav-bar class="transparent-nav">
		<ion-nav-back-button ng-click="issue_detail.goBack()">
        </ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-title>
		<a class="button button-icon fa fa-heart-o title {{issue_detail.issue.like}}" ng-click="issue_detail.toggleLike($event)"></a>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="share" ng-click="issue_detail.test()">
			Share
		</button>
	</ion-nav-buttons>
	<ion-content has-bouncing="false">
		<div class="issue-detail">
			<img ng-src="{{issue_detail.issue.image}}">
			<div></div>
			<div class="info">
				<h2>{{issue_detail.issue.title}}</h2>
				<span ng-click="issue_detail.goHashTagGlobal(tag.id)" ng-repeat="tag in issue_detail.issue.hash_tags"># {{tag.name}}</span><br>
			</div>
			<div class="profile" ng-click="issue_detail.goChannelDetail(issue_detail.issue.channel.id)">
				<img ng-src="{{issue_detail.issue.channel.profile}}">
				<p>{{issue_detail.issue.channel.name}}</p>
			</div>
		</div>
		<div class="issue-detail-item" ng-repeat="item in issue_detail.issue.issue_items_of_issue">
			<img ng-src="{{item.product.images[0].image}}">
		</div>
		<div class="issue-detail-item-list">
			<h4>아이템</h4>
			<div class="item-thumbnail" ng-repeat="item in issue_detail.issue.issue_items_of_issue">
				<img ng-src="{{item.product.images[0].image}}" ng-click="issue_detail.goProductDetail(item.product.id)">
				<p>{{item.product.price | number:0 }} WON</p>
			</div>
		</div>
	</ion-content>
</ion-view>