<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
      <a class="button button-icon fa fa-plus-square" ng-click="private_intro.goFollow()"></a>
    </ion-nav-buttons>
    <ion-nav-title>
      <a class="button button-icon fa fa-heart title" ng-click="private_intro.goLike()"></a>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-icon fa fa-info-circle actived" ng-click="private_intro.goInfo()"></a>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
      <ul class="list">

        <li class="item item-toggle">
           자동 로그인
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="$root.storage.AUTO_LOGIN">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <a class="item logout-btn" ng-click="private_intro.openLogout()">
          <span>로그아웃</span>
          <i class="fa fa-sign-out fa-2x"></i>
        </a>

      </ul>
    </ion-content>
</ion-view>