<ion-view ng-init="private_intro.check_auth()">
	<ion-nav-buttons side="left">
      <a class="button button-icon fa fa-plus-square follow actived" ng-click="private_intro.goFollow()"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-icon fa fa-info-circle info" ng-click="private_intro.goInfo()"></a>
    </ion-nav-buttons>
    <ion-header-bar>
    </ion-header-bar>
	<ion-content scroll="true">
		<div ng-include="private_intro.currentHeaderMenu.url" style="width:100%; display:inline-block;">
		</div>
	</ion-content>
</ion-view>