<ion-view>
    <ion-nav-title>
        <button class="button button-clear button-dark" ng-click="brand_intro.beCollpased = !brand_intro.beCollpased">
          {{brand_intro.selectedGender.type}} <i class="fa fa-chevron-down"></i>
        </button>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-stable" ng-click="brand_intro.openBrandSort()">Sort</button>
    </ion-nav-buttons>
    <ion-content id="brand-list-content">
      <div collapse="brand_intro.beCollpased">
        <div class="list">
            <div class="item" ng-repeat="gender in brand_intro.genders">
                <button class="button button-clear button-dark" ng-click="brand_intro.changeGender(gender)">
                {{gender.type}}
                </button>
            </div>
        </div>
      </div>
      <div class="list">
        <div class="item" ng-repeat="brand in brand_intro.brands">
          <div class="product-brand-info">
            <img ng-src="{{brand.image}}" ng-click="brand_intro.moveBrandDetail(brand.id)">
            <span>{{brand.name}}</span>
            <a class="button button-icon fa fa-plus fa-2x"></a>    
          </div>
          <ion-scroll direction="x" has-bouncing="false" class="wide-as-needed" style="margin-top:10px">
            <div class="brand-product-thumbnail" ng-repeat="product in brand.products_of_brand">
              <img ng-src="{{product.images[0].image}}">
              <h5>{{product.name}}</h5>
              <p>{{product.price  | number:0  }}</p>
            </div>
          </ion-scroll>
        </div>
      </div>
    </ion-content>
</ion-view>
