<ion-view>
    <ion-tabs class="tabs-light tabs-bottom tabs-icon-only" id="radio-tabs">

        <ion-tab icon="fa fa-home" ui-sref="tabs.main">
            <ion-nav-view name="main"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="fa fa fa-book" ui-sref="tabs.channel">
            <ion-nav-view name="channel"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="fa fa fa-user" ui-sref="tabs.private.follow">
            <ion-nav-view name="private"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="fa fa-search" ui-sref="tabs.search">
            <ion-nav-view name="search"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>