<ion-view>
	<ion-nav-title>
		<h4 class="title">{{tag_global.currentTagName}}관련 {{tag_global.currentView}}</h4>
	</ion-nav-title>
	<ion-header-bar class="bar bar-subheader">
		<div class="two-button-bar">
	     	<a class="button" ng-click="tag_global.changeView(view)" ng-repeat="(key, view) in tag_global.views">{{key}}</a>
      	</div>
    </ion-header-bar>
    <ion-content class="has-subheader" has-bouncing="false">
    	<div ng-if="tag_global.currentView == '이슈'">
    		<div class="radio-list" ng-click="tag_global.goIssueDetail(issue.id)" ng-repeat="issue in tag_global.issues">
		        <img ng-src="{{issue.image}}">
		        <div class="image-wrap-black"></div>
	        	<img class="profile" ng-click="tag_global.goChannelDetail(issue.channel.id, $event)" ng-src="{{issue.channel.profile}}">
		        <div class="info">
		        	<h3>{{issue.title}}</h3>
		        	<a ng-click="tag_global.goTagGlobalIssues(tag.id, $event)" ng-repeat="tag in issue.hash_tags" >#{{tag.name}}</a><br>
					<span><i class="fa fa-eye"></i> {{issue.view}}</span>
		        	<span><i class="fa fa-heart"></i> {{issue.issue_likes_of_issue.length}}</span>
		        </div>
	      	</div>
    	</div>
    	<div ng-if="tag_global.currentView == '상품'">
    		<div class="radio-list" ng-click="tag_global.goProductDetail(product.id)" ng-repeat="product in tag_global.products">
		        <img ng-src="{{product.images[0].image}}">
		        <div class="image-wrap-white"></div>
		        <div class="info text-black">
		        	<h3>{{product.name}}</h3>
		        	<a ng-click="tag_global.goTagGlobalProducts(tag.id, $event)" ng-repeat="tag in product.hash_tags" >#{{tag.name}}</a><br>
		        	<span><i class="fa fa-heart"></i> {{product.product_likes_of_product.length}}</span>
		        </div>
	      	</div>
			<div class="card" ng-if="!tag_global.products.length">
			  <div class="item item-text-wrap">
			    죄송합니다. 보여드릴 수 있는 상품이 없습니다.
			  </div>
			</div>
    	</div>
    </ion-content>
</ion-view>