<ion-view view-title="알림">
	<ion-content id="main-notify-content">
		<div class="list">
		    <a class="item item-avatar" href="#">
		    	<img ng-src="http://127.0.0.1:8000/media/channel/Smile-logo-A18DBD791A-seeklogo.com_MYBajba.jpg">
		    	<div class="main-notify-info">
		    		<h2><strong>채널 B</strong>의 새로운 큐레이션이 등록 됐습니다.</h2>
		        	<p>어제 오후 1시</p>
		    	</div>
		    </a>
		    <a class="item item-avatar" href="#">
		    	<img ng-src="http://127.0.0.1:8000/media/upload/designer/profile.png">
		    	<div class="main-notify-info">
		    		<h2><strong>채널 B</strong>의 새로운 큐레이션이 등록 됐습니다. </h2>
		        	<p>3월 8일 오전 10시</p>
		    	</div>
		    </a>
		    <a class="item item-avatar" href="#">
		    	<img ng-src="http://127.0.0.1:8000/media/upload/designer/designer.png">
		    	<div class="main-notify-info">
		    		<h2><strong>Designer</strong>의 새로운 상품이 추가 됐습니다.</h2>
		        	<p>3월 8일 오전 9시</p>
		    	</div>
		    </a>
		</div>
	</ion-content>
</ion-view>
