<ion-view hide-nav-bar="true">
    <ion-content id="login-content" scroll="true">
    <h1>RADIO</h1>
    <form ng-submit="requestLogin()">
        <ion-list>
            <label class="item item-input">
                <input type="text" placeholder="e-mail" ng-model="login.username" name="e-mail">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="login.password" name="password">
            </label>
        </ion-list>
        <input type="submit" class="button button-dark button-block" value="Sign in">
        <a href="" class="button button-block"><i class="fa fa-facebook-official fa-lg"></i>Login with facebook</a>
        <a href="#/signup" class="button button-clear">Sign up with your e-mail</a>
        <p>{{login.window_width}}</p>
    </form>
</ion-content>
</ion-view> 