<ion-view>
    <ion-nav-title>
      <label class="item-input-wrapper" id="nav-search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search">
      </label>
    </ion-nav-title>
    <ion-header-bar class="bar-subheader">
      <ion-scroll direction="x" class="wide-as-needed" overflow-scroll="true" scroll="true" scrollbar-="true" has-bouncing="false">
        <a class="button">this is a button : 1</a>
        <a class="button">this is a button : 2</a>
        <a class="button">this is a button : 3</a>
        <a class="button">this is a button : 4</a>
        <a class="button">this is a button : 5</a>
        <a class="button">this is a button : 6</a>
        <a class="button">this is a button : 7</a>
        <a class="button">this is a button : 8</a>
        <a class="button">this is a button : 9</a>
        <a class="button">this is a button : 10</a>
        <a class="button">this is a button : 11</a>
        <a class="button">this is a button : 12</a>
        <a class="button">this is a button : 13</a>
        <a class="button">this is a button : 14</a>
        <a class="button">this is a button : 15</a>
        <a class="button">this is a button : 16</a>
      </ion-scroll>
    </ion-header-bar>
    <ion-content class="padding" id="shop-list-content">
        <!--
        <button class="btn btn-default" id="shop-list-category" ng-click="shop_list.isCollapsed = !shop_list.isCollapsed;">{{shop_list.selectedCategory.type}}</button>
        
        <div collapse="shop_list.isCollapsed">
          <div class="well well-lg">
            <ul ng-repeat="category in shop_list.categories">
              <a href="" ng-click="shop_list.changeCategory(category);">
                {{category.type}}
              </a>
            </ul>
          </div> 
        </div>

        <ol id="shop-list-tag-wrap">
          <ul>
            <li class="shop-list-tag" ng-repeat="tag in shop_list.tags">
              <a ng-click="shop_list.changeTag(tag)">{{tag.name}}</a>
            </li>
          </ul>
          <div class="btn-group" id="shop-list-sort">
            <label class="btn btn-default" ng-model="shop_list.sort" btn-radio="'Left'" uncheckable>최신</label>
            <label class="btn btn-default" ng-model="shop_list.sort" btn-radio="'Middle'" uncheckable>인기</label>
            <label class="btn btn-default" ng-model="shop_list.sort" btn-radio="'Right'" uncheckable>가격</label>
          </div>
        </ol>
        -->


        <div ng-if="shop_list.products.length" class="list card col col-50 product-list" ng-repeat="product in shop_list.products">
          <div class="item item-image">
            <a ng-click="shop_list.openDetailProduct(product.id)">
              <img class="shop-list-image" ng-src="{{shop_list.mediaUrl + product.image}}">
            </a>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left item-footer">
            <a class="tab-item" ng-click="shop_list.toggleLike(product.id)">
              <i id="product-heart-{{product.id}}" name="radio-like-{{product.like}}" class="fa fa-heart fa-lg"></i>
              <span id="product-count-{{product.id}}">{{product.likes_of_product.length}}</span>
            </a>
            <div class="tab-item">
            </div>
            <div class="tab-item">
              <span>{{product.price |  number:0}}원</span>
            </div>
          </div>
        </div>
        <ion-infinite-scroll ng-if="shop_list.canLoadMore && selectedTag != undefined" on-infinite="shop_list.queryProduct(); shop_list.infinitePrint();" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
