<ion-view view-title="채널">
    <ion-nav-title>
        <h3 class="title white-header">
            채널
        </h3>
    </ion-nav-title>
    <ion-content has-bouncing="false">
    	<tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll" has-bouncing="false">
                        <a ng-repeat="pub_day in channel_intro.pub_days track by $index" on-finish-render="test()">{{pub_day.day}}</a>
                    </ion-scroll>
                </div>
        	</div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index); channel_intro.changeDay($index)">
          		<ion-slide ng-repeat="pub_day in channel_intro.pub_days">
                    <div class="two-channel-list" ng-repeat="channel in pub_day.channels">
                        <img ng-src="{{channel.profile}}" ng-click="channel_intro.goChannelDetail(channel.id)">
                        <h4>{{channel.name}}</h4>
                        <p>{{channel.brief}}</p>
                    </div>
            	</ion-slide>
        	</ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>