<ion-view>
    <ion-tabs class="tabs-light tabs-bottom tabs-icon-only" id="radio-tabs">

        <ion-tab icon="fa fa-home" ng-click="tabs.goTab('main')">
            <ion-nav-view name="main"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="fa fa fa-book" ng-click="tabs.goTab('channel')">
            <ion-nav-view name="channel"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="fa fa fa-user" ng-click="tabs.goTab('private')">
            <ion-nav-view name="private"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="fa fa-search" ng-click="tabs.goTab('search')">
            <ion-nav-view name="search"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>