<ion-view>
      <ion-nav-bar class="bar-light has-like-nav">
        <ion-nav-back-button ng-click="cody_detail.goBack()">
        </ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-title>
        <button ng-click="cody_detail.codyLike(cody_detail.cody.id)">
          <i class="fa fa-heart-o fa-2x" data-like="{{cody_detail.cody.like}}"></i>
        </button>
      </ion-nav-title>
      <ion-nav-buttons side="secondary">
        <button>
          공유하기
        </button>
      </ion-nav-buttons>
    <img class="bg" ng-src="{{cody_detail.cody.image}}">
    <div>
      <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
        <ion-slide>
          <h1>{{cody_detail.cody.title}}</h1>
          <h4>{{cody_detail.cody.cody_category.name}}</h4>
          <h6>{{cody_detail.cody.pub_date}}</h6>
          <img ng-src="{{cody_detail.channel.image}}">
          <span>by. {{cody_detail.channel.name}}</span>
          <button ng-click="cody_detail.channelFollow(cody_detail.channel.id)">채널팔로우</button>
        </ion-slide>
        <ion-slide ng-repeat="item in cody_detail.cody.cody_items_of_cody"
          ng-init="cody_detail.updateSlider()">
          <article class="cody-item">
            <img ng-src="{{item.product.image}}">
            <button ng-click="cody_detail.openShopDetail(item.product)">상품 보러가기</button>
            <p>{{item.tip}}</p>
          </article>
        </ion-slide>
        <ion-slide>
          <h2>마지막 슬라이드</h2>
        </ion-slide>
      </ion-slide-box>
    </div>
    <ion-footer-bar>
      <div class="title">
        <p>{{cody_detail.currentIndex + 1}} <span class="more-smaller">of</span> {{2 + cody_detail.cody.cody_items_of_cody.length}}</p>
      </div>
    </ion-footer-bar>
</ion-view>
