<ion-view>
	<ion-nav-title>
		<div class="title search-intro-nav">
			<button ng-click="search_intro.goSearchInput()"><i class="fa fa-search"></i>Search</button>
		</div>
	</ion-nav-title>
    <ion-content has-bouncing="false">
    	<div ng-if="!search_intro.isSearch">
    		<div class="search-two-btn-wrap">
	    		<div class="two-button-bar another">
					<a class="button active" ng-click="search_intro.viewMenu('실시간')">실시간 해시태그</a>
			     	<a class="button" ng-click="search_intro.viewMenu('추천')">추천 해시태그</a>
		    	</div>
	    	</div>
    		<div class="realtime">
				<ul class="list">
				    <li class="item" ng-click="search_intro.goTagGlobalIssues(tag.id)" ng-repeat="tag in search_intro.hash_tags">
						<h4># {{tag.name}}</h4>
				    </li>
				</ul>
	    	</div>
    	</div>
    </ion-content>
</ion-view>