<ion-view>
	<ion-nav-title>
		<h1 class="title">
			# {{hash_tag.currentTag.name}}
		</h1>
	</ion-nav-title>
	<ion-header-bar class="bar bar-subheader">
		<div class="button-bar product-button-bar">
	     	<a ng-click="hash_tag.toggleInfo($event, menu)" class="button" ng-repeat="menu in hash_tag.menuList">{{menu}}</a>
      	</div>
    </ion-header-bar>
    <ion-content class="has-subheader">
		<div class="issue-list" ng-click="hash_tag.goIssueDetail(issue.id)" ng-repeat="issue in hash_tag.issues">
	        <img ng-src="{{issue.image}}">
	        <div class="image-wrap"></div>
        	<img class="profile" ng-src="{{issue.channel.profile}}">
	        <div class="info">
	        	<h3>{{issue.title}}</h3>
	        	<a ng-click="hash_tag.goHashTag(tag, issue.channel, $event)" ng-repeat="tag in issue.hash_tags" >#{{tag.name}}</a><br>
				<span><i class="fa fa-eye"></i> {{issue.view}}</span>
	        	<span><i class="fa fa-heart"></i> {{issue.issue_likes_of_issue.length}}</span>
	        </div>
      	</div>
    </ion-content>
</ion-view>