<ion-view has-bouncing="false">
  <ion-nav-bar>
  </ion-nav-bar>
	<ion-header-bar class="bar bar-subheader main-intro">
      <button class="button button-clear button-dark">인기<i class="fa fa-pencil fa-chevron-down"></i></button>
      <a ng-show="main_intro.current_contents=='issues'" href="#/tabs/main/products" nav-transition="none" ng-click="main_intro.toggleContents()">이슈<i class="fa fa-pencil fa-chevron-down"></i></a>
      <a ng-show="main_intro.current_contents=='products'" href="#/tabs/main/issues" nav-transition="none" ng-click="main_intro.toggleContents()">상품<i class="fa fa-pencil fa-chevron-down"></i></a>
      <button class="button button-clear button-dark">가격 높음<i class="fa fa-chevron-down"></i></button>
    </ion-header-bar>
    <ion-content class="has-subheader">
		<ion-nav-view name="tabs-main"></ion-nav-view>
    </ion-content>
</ion-view>