<ion-view view-title="Radio">
    <ion-nav-bar>
    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader main-intro">
        <a  ng-href="#/hot/issues" 
            nav-transition="none" 
            ng-click="main_intro.filter='인기'; main_intro.content='이슈'"; 
            ng-show="main_intro.filter=='추천'">
            {{main_intro.filter}}
            <i class="fa fa-pencil fa-chevron-down"></i>
        </a>
        <a  ng-href="#/rec/issues"
            nav-transition="none" 
            ng-click="main_intro.filter='추천'; main_intro.content='이슈'"  
            ng-show="main_intro.filter=='인기'">
            {{main_intro.filter}}
            <i class="fa fa-pencil fa-chevron-down"></i>
        </a>


        <a  ng-href="#/rec/channels" 
            nav-transition="none" 
            ng-click="main_intro.content='채널'"  
            ng-show="main_intro.filter=='추천' && main_intro.content=='이슈'">
            {{main_intro.content}}
            <i class="fa fa-pencil fa-chevron-down"></i>
        </a>

        <a  ng-href="#/rec/issues" 
            nav-transition="none" 
            ng-click="main_intro.content='이슈'"  
            ng-show="main_intro.filter=='추천' && main_intro.content=='채널'">
            {{main_intro.content}}
            <i class="fa fa-pencil fa-chevron-down"></i>
        </a>


        
        <a ng-href="#/hot/products" 
            nav-transition="none" 
            ng-click="main_intro.content='상품'"  
            ng-show="main_intro.filter=='인기' && main_intro.content=='이슈'">
            {{main_intro.content}}<i class="fa fa-pencil fa-chevron-down"></i>
        </a>

        <a ng-href="#/hot/issues" 
            nav-transition="none"
            ng-click="main_intro.toggleContent(); main_intro.content='이슈'"  
            ng-show="main_intro.filter=='인기' && main_intro.content=='상품'">
            {{main_intro.content}}<i class="fa fa-pencil fa-chevron-down"></i>
        </a>
    </ion-header-bar>
    <ion-content class="has-subheader" has-bouncing="false">
    	<ion-nav-view name="main"></ion-nav-view>
    </ion-content>
</ion-view>