<ion-view>
	<ion-content has-bouncing="false">
		<div class="radio-list" ng-click="main_products.goProductDetail(product.id)" collection-repeat="product in main_products.products"
		  item-width="100%"
		  item-height="192px">
	        <img ng-src="{{product.images[0].image}}">
	        <div class="image-wrap-white"></div>
	        <div class="info text-black">
	        	<h3>{{product.name}}</h3>
	        	<a ng-click="main_products.goHashTag(tag, $event)" ng-repeat="tag in product.hash_tags" >#{{tag.name}}</a><br>
	        	<span><i class="fa fa-heart"></i> {{product.product_likes_of_product.length}}</span>
	        </div>
      	</div>
	</ion-content>
</ion-view>