<ion-view>
	<div class="tabs-striped tabs-top tabs-background-stable">
		<div class="tabs">
		  <a class="tab-item" ui-sref="tabs.private.info">내 정보</a>
		  <a class="tab-item" ui-sref="tabs.private.cody">내 코디</a>
		  <a class="tab-item tab-item-active" ui-sref="tabs.private.channel">내 채널</a>
		  <a class="tab-item" ui-sref="tabs.private.brand">내 브랜드</a>
		  <a class="tab-item" ui-sref="tabs.private.product">내 상품</a>
		</div>
  	</div>
	<ion-content class="padding has-tabs-top">
		<div class="list" ng-repeat="channel in user.follow_channels">
		    <div class="item item-avatar">
				<img ng-src="{{private_channel.mediaUrl + channel.image}}">
				<div class="channel-follow">
					<button class="button button-small button-outline button-dark" ng-click="private_channel.channelUnfollow(channel.id)">팔로우취소    <i class="fa fa-minus"></i></button>
				</div>
          		<h2 class="channel-info">{{channel.name}}</h2>
		    </div>
		</div>
	  	<div ng-if="!user.follow_channels.length" id="edit-channel-alert">
	      	<div class="card">
		        <div class="item item-divider" id="main-alert-header">
		          <i class="fa fa-exclamation-circle fa-lg"></i>  구독하는 채널이 없습니다.
		        </div>
		        <div class="item item-text-wrap">
		          <a id="main-move-channel"ng-click="private_channel.moveChannelTab()">채널 둘러보러 가기    <i class="fa fa-hand-o-left fa-lg"></i></a>
		        </div>
	      	</div>
       	</div>
	</ion-content>
    
</ion-view>