<ion-view>
  <div class="tabs-striped tabs-top tabs-background-stable">
    <div class="tabs">
      <a class="tab-item" ui-sref="tabs.private.info">내 정보</a>
      <a class="tab-item tab-item-active" ui-sref="tabs.private.cody">내 코디</a>
      <a class="tab-item" ui-sref="tabs.private.channel">내 채널</a>
      <a class="tab-item" ui-sref="tabs.private.brand">내 브랜드</a>
      <a class="tab-item" ui-sref="tabs.private.product">내 상품</a>
    </div>
  </div>
  <ion-content class="padding has-tabs-top">
    <div class="list card" ng-repeat="cody in user.like_codies">
      <div class="item item-image">
        <a ng-click="channel_cody_list.openCodyDetail(cody.id)">
          <img ng-src="{{private_cody.mediaUrl + cody.image}}">
        </a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left item-footer">
        <div class="tab-item">
          {{cody.title}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>