<ion-view>
  <div class="tabs-striped tabs-top tabs-background-stable">
    <div class="tabs">
      <a class="tab-item" ui-sref="tabs.private.info">내 정보</a>
      <a class="tab-item" ui-sref="tabs.private.cody">내 코디</a>
      <a class="tab-item" ui-sref="tabs.private.channel">내 채널</a>
      <a class="tab-item" ui-sref="tabs.private.brand">내 브랜드</a>
      <a class="tab-item tab-item-active" ui-sref="tabs.private.product">내 상품</a>
    </div>
  </div>
  <ion-content class="padding has-tabs-top" id="private-product-content">
    <div class="list card col col-50 product-list" ng-repeat="product in user.like_products">
      <div class="item item-image">
        <a ng-click="private_product.openDetailProduct(product.id)">
            <img class="shop-list-image" ng-src="{{private_product.mediaUrl + product.image}}">
        </a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left item-footer">
        <a class="tab-item">
          <i id="product-heart-{{product.id}}" name="radio-like-{{product.like}}" class="fa fa-heart fa-lg"></i>
          <span id="product-count-{{product.id}}">{{product.likes_of_product.length}}</span>
        </a>
        <div class="tab-item">
        </div>
        <div class="tab-item">
          <span>{{product.price |  number:0}}원</span>
        </div>
      </div>
    </div>  
  </ion-content>
</ion-view>
