<ion-view>
    <ion-nav-title>
        <h3 class="title">
            LADIO
        </h3>
    </ion-nav-title>
    <ion-content class="padding" id="login-content" has-bouncing="false">
        <form ng-submit="login.requestLogin()">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="별명을 입력하세요" ng-model="login.username" name="username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="비밀번호를 입력하세요." ng-model="login.password" name="password">
                </label>
            </ion-list>
            <p ng-if="!login.info_msg" class="alert-msg">{{login.alert_msg}}</p>
            <p ng-if="login.info_msg" class="info-msg">{{login.info_msg}}</p>
            <input type="submit" class="button button-dark button-block" value="로그인">
            <a href="#/signup" class="button button-clear button-dark">3초만에 가입하기</a>
        </form>
    </ion-content>
</ion-view> 