<ion-view>
    <ion-nav-buttons side="left">
        <button ng-click="login.goBack()" id="login-back-btn"><i class="fa fa-chevron-left"></i></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <h3 class="title">
            LADIO
        </h3>
    </ion-nav-title>
    <ion-content class="padding" id="login-content" has-bouncing="false">
        <form ng-submit="login.requestLogin()">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="닉네임을 입력하세요" ng-model="login.username" name="username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="비밀번호를 입력하세요." ng-model="login.password" name="password">
                </label>
            </ion-list>
            <p ng-if="!login.info_msg" class="alert-msg">{{login.alert_msg}}</p>
            <p ng-if="login.info_msg" class="info-msg">{{login.info_msg}}</p>
            <input type="submit" class="button button-dark button-block" value="로그인">
            <a href="#/signup" id="signup-btn" class="button button-clear button-dark">아이디가 없다면 간단하게 가입하세요!</a>
        </form>
    </ion-content>
</ion-view> 