<ion-view>
  <ion-nav-title>
    <label class="item-input-wrapper" id="nav-search">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="채널을 검색합니다.">
    </label>
  </ion-nav-title>
  <ion-content class="padding" id="channel-content">
    <div class="list" ng-if="channel_list.channels.length">
      <div class="item item-avatar" ng-repeat="channel in channel_list.channels">
        <img ng-src="{{channel_list.mediaUrl + channel.image}}" ng-click="channel_list.openCodyList(channel.id)">
        <h2 class="channel-info">{{channel.name}}</h2>
        <div class="channel-follow">
          <button class="button button-small button-outline button-dark" ng-click="channel_list.channelFollow(channel.id)">팔로우하기    <i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="list" ng-if="!channel.cody_list.length">
      <div class="card">
        <div class="item item-divider" id="main-alert-header">
          <i class="fa fa-smile-o fa-lg"></i>  감사합니다.
        </div>
        <div class="item item-text-wrap">
          모든 채널을 받아보고 계시네요.
        </div>
      </div>
    </div>
    </ion-content>
</ion-view>
