<ion-view view-title="Radio">
	<ion-content has-bouncing="false">
		<div class="channel-list" ng-click="channel_list.goChannelDetail(channel.id)" collection-repeat="channel in channel_list.channels"
		item-width="100%"
		item-height="400px">
			<img ng-src="{{channel.background}}">
			<div class="image-wrap-black"></div>
			<div class="profile">
				<img ng-src="{{channel.profile}}">
				<h3>{{channel.name}}</h3>
				<p>{{channel.brief}}</p>	
			</div>
			<div class="follow">
				<button><i class="fa fa-plus"></i>FOLLOW</button>
			</div>
			<div class="issue-wrap">
				<div class="issue" ng-repeat="issue in channel.issues_of_channel | limitTo:2"> 
					<img ng-src="{{issue.image}}">
					<div></div>
					<h4>{{issue.title}}</h4>
				</div>
			</div>	
		</div>	
	</ion-content>
</ion-view>