<ion-view class="has-transparent-nav">
	<ion-nav-bar class="transparent-nav">
		<ion-nav-back-button ng-click="channel_detail.goBack()">
        </ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-title>
		<div class="bar bar-header white-header">
		  <h2 class="title">{{channel_detail.channel.name}}</h2>
		</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="nav-channel-follow" ng-click="channel_detail.toggleFollow($event)">
			<i class="fa fa-plus" ng-if="!channel_detail.channel.follow"></i>
			<i class="fa fa-minus" ng-if="channel_detail.channel.follow"></i>FOLLOW
		</button>
	</ion-nav-buttons>
    <ion-content has-bouncing="false">
    	<div class="channel-detail">
			<img ng-src="{{channel_detail.channel.background}}">
			<div></div>
			<div class="info">
				<img ng-src="{{channel_detail.channel.profile}}">
				<div class="info-text">
					<h2>{{channel_detail.channel.name}}</h2><br>
					<span ng-repeat="pub_day in channel_detail.channel.pub_days">{{pub_day.day}} </span> 발행
				</div>
			</div>
    	</div>
		<div class="channel-detail-issues" ng-click="channel_detail.goIssueDetail(issue.id)"collection-repeat="issue in channel_detail.channel.issues_of_channel"
		item-width="100%"
		item-height="192px">
			<img src="{{issue.image}}">
			<div></div>
			<button class="like-btn"><i class="fa fa-heart-o nav-center-heart fa-2x {{issue.like}}"></i></button>
			<div class="info">
				<h2>{{issue.title}}</h2>
				<span ng-click="channel_detail.goHashTagSpecific($event, channel_detail.channel, tag)" ng-repeat="tag in issue.hash_tags"> #{{tag.name}}</span>
			</div>
		</div>
    </ion-content>
</ion-view>