/* tabs & nav */

i[data-like="true"] {
  color:#e60000 !important;
}

i[data-like="false"] {
  color:#262626 !important;
}

div.tab-nav.tabs {
  background: linear-gradient(#ffffff, #f0f6f6);
}

.tab-item .icon {
  font-size: 28px;
}


.scroll{
  height:100%;
}

ion-header-bar button.button.button-clear {
  color: #444; 
}
h2 {
  font-size: 21px !important;
}

h3 {
  font-size: 19px !important; 
  margin: 0px;
}

h4 {
  font-size: 17px !important;
}

h5 {
  font-size: 14px !important;
}

p {
  font-size: 12px !important;
}

a:hover {
  text-decoration:none;
}

* {
  font-family: '33535gillsansmt', sans-serif;
}

ion-header-bar h5 {
  text-align: center;
}

.has-subheader.more-height{
  top:88px;
}

ion-header-bar.transparent-nav {
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)) !important; /*Standard*/
  border-bottom: none;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

ion-header-bar.transparent-nav button.back-button {
  color: #fff;
}

button.radio-block-button {
  line-height: 26px;
  width: 100%;
  background: none;
  border: 1px solid #DDD;

}

ion-header-bar div.buttons button{
  background: none;
  border: none;
}

.text-black * {
  color: #000 !important;
}



/* -------- nav bar --------- */ 

/* --------------------------- */

div.space {
  display: block;
  height: 40px;
}

div.item {
  padding: 10px;
}

div.item p {
  white-space: pre-wrap;
}

.bar-subheader div.list div.item {
  height: 34px;
}
.bar-subheader div.list div.item button {
  font-size: 15px !important;
}

ion-content.has-subheader-collpase *{
  color: red;
}

div[collapse] {
  text-align: center;
}

div[collapse] div.item {
  height: 50px;
  padding: 0px;
}

div[collapse] button{
  font-size: 15px;
}

/* ------ main page ---------
--------------------------*/

/* hash tag global */

div.two-button-bar a.button {
  width: 50%;
  float: left;
  background-color: #fff !important;
  border: none;
  font-size: 14px !important;
  font-weight: 700;
}

div.two-button-bar a.button.activated {
  background-color: #fff !important;
  border: none;
  box-shadow: none;
}

div.two-button-bar a.button.active {
  border-bottom: solid 3px red;
  box-shadow: none;
}


/* main nav */

ion-header-bar.bar.bar-subheader.main-intro a {
  color: #444;
  font-size: 17px;
  line-height: 32px;
}

ion-header-bar.bar.bar-subheader.main-intro button:last-child{
  float: right;
  font-size: 14px;
}


ion-header-bar.bar.bar-subheader.hash-tag {
  height: 100px;
}



/* channel list */

div.channel-list {
  width: 100%;
  height: 400px;
  position: relative;
}

div.channel-list * {
  position: absolute;
}

div.channel-list img {
  width: 100%;
  height: 212px;
}

div.channel-list div.image-wrap-black {
  background-color: rgba(0,0,0,0.5);
  height: 212px;
  width: 100%;
}

div.channel-list div.profile {
  text-align: center;
  width: 100%;
  top:15%;
}

div.channel-list div.profile * {
  color: #fff;
  position: relative;
}

div.channel-list div.profile h3 {
  font-size: 18px !important;
}

div.channel-list div.profile img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #fff;
}

div.channel-list div.follow {
  text-align: center;
  width: 100%;
  top: 48%;
  z-index: 5;
}

div.channel-list div.follow * {
  position: relative;
}

div.channel-list div.follow i {
  margin-right: 5px;
}

div.channel-list div.follow button {
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #fff;
  width: 150px;
  height: 36px;
}

div.channel-list div.issue-wrap {
  width: 100%;
  top: 212px;
}

div.channel-list div.issue-wrap * {
  position: relative;
  color: #fff;
}

div.channel-list div.issue-wrap div.issue {
  max-width: 50%;
  float: left;
  height: 187.5px;
}

div.channel-list div.issue-wrap div.issue * {
  text-align: center;
}

div.channel-list div.issue-wrap div.issue img {
  height: 100%;
}

div.channel-list div.issue-wrap div.issue div {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 187.5px;
  top: 0px;
}

div.channel-list div.issue-wrap div.issue h4 {
  font-size: 16px !important;
  bottom: 40%;
}



/* issue-list */

div.radio-list {
  width: 100%;
  height: 192px;
  position: relative;
}

div.radio-list * {
  position: absolute;
  color: #fff;
}

div.radio-list img {
  width: 100%;
  height: 192px;
}

div.radio-list div.image-wrap-black {
  width: 100%;
  height: 192px;
  background-color: rgba(0,0,0,0.5) !important;
}

div.radio-list div.image-wrap-white {
  width: 100%;
  height: 192px;
  background-color: rgba(255,255,255,0.5);
}

div.radio-list img.profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
}

div.radio-list div.info{
  width: 100%;
  top: 115px;
  left: 15px;
}

div.radio-list div.info * {
  position: relative;
}

div.radio-list div.info a{
  margin-right: 5px;
}

/* issue detail page */

div.buttons.buttons-right button  {
  margin: auto;
  font-size: 18px;
}

div.buttons.buttons-right i.fa.fa-heart-o {
  font-size: 25px;
  position: relative;
  margin-right: 100px;
}

/* issue detail */

div.issue-detail {
  position: relative;
  text-align: center;
  color: #fff !important;
}

div.issue-detail img {
  height: 560px;
  width: 100%;
}

div.issue-detail > div:nth-of-type(1) {
  height: 560px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0px;
}

div.issue-detail div.info {
  position: absolute;
  bottom: 0px;
  top:50%;
  width: 100%;
  margin-right: auto;
}

div.issue-detail div.info *{
  position: relative;
  color: #fff !important;
}

div.issue-detail div.info h2 {
  font-weight: 700;
}

div.issue-detail div.profile {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

div.issue-detail div.profile *{
  position: relative;
}

div.issue-detail div.profile img {
  height: 40px;
  width: 40px; 
  border-radius: 50%;
  border: 1px solid #fff;
}


/* issue detail items */

div.issue-detail-item img{
  height: 560px;
  width: 100%;
}

div.issue-detail-item-list {
  width: 100%;
}

div.issue-detail-item-list h4 {
  margin-top: 10px;
  margin-left: 22px;
}

div.issue-detail-item-list div.item-thumbnail {
  max-width: 33%;
  float: left;
}

div.issue-detail-item-list div.item-thumbnail p {
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
}

div.issue-detail-item-list div.item-thumbnail img {
  width: 100%;
  height: 125px;
  border: 1px solid #DDD;
}

/* --------- product detail page ------------
----------------------------------------- */

div.product-image-slides {
  height: 410px;
}

div.product-image-slides img {
  width: 100%;
  height: 368px;
}

div.product-brand-info {
  text-align: inherit !important;
}

div.product-brand-info img{
  height: 50px;
  width: 50px;
  vertical-align: middle !important;
  border: 2px solid #00002f;
  border-radius: 8px;
}


div.product-brand-info a {
  float: right !important;
  padding-top: 5px !important;
}


div.product-button-bar {
  border-radius: 5px;
}

div.product-button-bar a, div.product-button-bar a:hover{
  border: none;
  background-color: #fff;
  color: #0081ff;
}

div.product-button-bar a.button.active{
  background-color: #fff;
  color: #0081ff;
  border-bottom: 3px solid #0081ff;
}

div.product-desc-wrap {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

div.product-desc-wrap img {
  width: 100%;
}

/* ------------------------------
-----channel detail page -----*/

.has-transparent-nav ion-header-bar.bar {
  background: none;
}

.has-transparent-nav ion-content {
  margin-top: -50px;
}

.transparent-nav .bar.bar-header.white-header h2.title{
  color: #fff !important;
}



div.channel-detail {
  width: 100%;
  height: 285px;
  position: relative;
}

div.channel-detail * {
  position: absolute;
  color: #fff;
}

div.channel-detail img {
  width: 100%;
  height: 285px;
}

div.channel-detail > div:nth-of-type(1) {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 285px;
}

div.channel-detail div.info {
  width: 100%;
  top: 50%;
  left: 25px;
  padding: 10% 0;
}

div.channel-detail div.info * {
  position: relative;
}

div.channel-detail div.info img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

div.channel-detail div.info div.info-text {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  height: 60px;
  padding: 2% 0;
}

div.channel-detail h2 {
  margin-bottom: 0px;
}

div.channel-detail p {
  font-size: 14px !important;
}


div.channel-detail-issues {
  width: 100%;
  height: 192px;
}

div.channel-detail-issues * {
  position: absolute;
  color: #fff;
}

div.channel-detail-issues img {
  width: 100%;
  height: 192px;
}

div.channel-detail-issues button.like-btn {
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
  border: none;
}

div.channel-detail-issues button.like-btn * {
  position: relative;
  font-size: 21px;
}

div.channel-detail-issues > div:nth-of-type(1) {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 192px;
}

div.channel-detail-issues div.info {
  width: 100%;
  text-align: center;
  padding: 25% 0;
}

div.channel-detail-issues div.info * {
  position: relative;
}



/* shop */
ion-view[view-title='상점'] > .bar-subheader{
  height: 45px;
}

ion-view[view-title='상점'] > ion-content > div{
  margin-top: 0px;
}

/* shop-list gender toggle button */

.toggle.toggle-assertive div.track {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
  width: 41px;
  height: 20px;
  margin-top: 8px;
}
.toggle.toggle-assertive input:checked + .track {
  background-color: #43cee6;
  border-color: #43cee6;
}
.toggle.toggle-assertive div.track div.handle {
  width: 15px;
  height: 16px;
  margin-top: 8px;
}

/* ------private page--------
-------------------------- */


/* my info */

div.user-profile img{
  height: 70px;
  width: 70px;
  vertical-align: middle;
  border: 2px solid #00002f;
  border-radius: 50%;
}

div.user-profile span {
  font-size: 30px !important;
  margin-left: 20px;
}

div.user-profile a {
  float: right;
  top: 15px;
}

ion-scroll.private-menu-scroll {
  width: 100% !important;
}

ion-scroll.private-menu-scroll a{
  min-width: 50px;
}

ion-scroll.private-menu-scroll a:hover {
  cursor: pointer;
}

div.cart-list {
  position: relative;
}

div.cart-list img{
  height: 78px;
  width: 78px;
  float: left;
  vertical-align: middle;
}

div.cart-list > div{
  display: inline-block;
  float: left;
}

div.cart-list p.quantity {
  float: right;
}

div.cart-list div:last-child {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.cart-list div:last-child i {
  vertical-align: middle;
  margin-left: 10px;
}


/* my channel */

.channel-unfollow {
  float: right;
  height: 100%;
}

#edit-channel-alert {
  padding-top: 35px;
}

/* my brand */

/* my product */

#private-product-content div.col {
  float: left;
}


/* ---------login page -----------
-------------------------------*/

#login-content {
  padding: 100px 50px 0px 50px;
}

#login-content h1 {
  text-align: center;
}

#login-content form {
  text-align: center;
}

#login-content a:nth-of-type(1) {
  background: #3b5a95;
  border: none;
  color: #fff;
}

#login-content a:nth-of-type(1) i{
  margin-right: 5px;
}

/* -----signup page------
---------------------- */


#signup-form {
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
}

#signup-form-submit {
  margin-top: 30px;
}
