ion-header-bar button.button.button-clear {
  color: #444; 
}

ion-header-bar button.button.button-clear i.fa.fa-arrow-left{
  margin: 0px;
}

ion-header-bar div.buttons.buttons-right span a.button.button-icon {
  padding: 0px;
}

ion-header-bar div.buttons.buttons-right span a.button.button-icon:nth-child(2) {
  margin-left: 10px;
}

ion-header-bar div.buttons.buttons-right span a.button.button-icon:before{
  font-size: 22px;
}

h3 {
  font-size: 19px !important; 
  margin: 0px;
}

h4 {
  font-size: 17px !important;
}

h5 {
  font-size: 14px !important;
}

p {
  font-size: 12px !important;
}

a:hover {
  text-decoration:none;
}

* {
  font-family: '33535gillsansmt', sans-serif;
}

ion-header-bar h5 {
  text-align: center;
}

ion-header-bar button {
  margin-top: 0px !important;
  font-weight: 700;
}

.has-subheader.more-height{
  top:88px;
}

/* -------- nav bar --------- */ 

/* --------------------------- */

div.space {
  display: block;
  height: 40px;
}

div.item {
  padding: 10px;
}

div.item p {
  white-space: pre-wrap;
}

.bar-subheader div.list div.item {
  height: 34px;
}
.bar-subheader div.list div.item button {
  font-size: 15px !important;
}

ion-content.has-subheader-collpase *{
  color: red;
}

div[collapse] {
  text-align: center;
}

div[collapse] div.item {
  height: 50px;
  padding: 0px;
}

div[collapse] button{
  font-size: 15px;
}



/*------horizontal scroll------
-----------------------------*/

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.wide-as-needed div.scroll-bar-indicator {
  display: none;
}

ion-scroll.wide-as-needed button {
  padding: 0px;
  margin-right: 38px;
  line-height: 40px;
  background: none;
  border: 0px;
}

ion-scroll.wide-as-needed button:first-child{
  margin-left: 10px;
}

ion-scroll.wide-as-needed button:last-child{
  margin-right: 10px;
}

/* ------ main page ---------
--------------------------*/

/* main nav */

ion-header-bar.bar.bar-subheader.main-intro a {
  color: #444;
  font-size: 17px;
  line-height: 32px;
}

ion-header-bar.bar.bar-subheader.main-intro button:last-child{
  float: right;
  font-size: 14px;
}


ion-header-bar.bar.bar-subheader.hash-tag {
  height: 100px;
}




/* issue-list */

div.issue-list {
  width: 100%;
  height: 192px;
  position: relative;
}

div.issue-list * {
  position: absolute;
  color: #fff;
}

div.issue-list img {
  width: 100%;
  height: 192px;
}

div.issue-list div.image-wrap {
  width: 100%;
  height: 192px;
  background-color: rgba(0,0,0,0.5);
}

div.issue-list img.profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
}

div.issue-list div.info{
  position: absolute;
  width: 100%;
  top: 115px;
  left: 15px;
}

div.issue-list div.info * {
  position: relative;
}

div.issue-list div.info a{
  margin-right: 5px;
}



/* shop intro tab slide */

.slider-slide h3{
  color:#000000;
}
.scroll{
  height:100%;
}

.tabbed-slidebox .tsb-icons:after{
  display:none;
}

div.product-thumbnail {
  float: left;
  max-width: 46.25%;
  position: relative;
  text-align: center;
}

div.product-thumbnail > div {
  position: absolute;
  display: inline-block;
  padding: 2px 2px 0px 2px;
  top:142px;
  right: 5px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.8);
}

div.product-thumbnail > div i {
  font-size: 20px;
}

div.product-thumbnail:nth-of-type(2n+1) {
  margin-left: 2.5%;
  margin-right: 1.25%;
}
div.product-thumbnail:nth-of-type(2n) {
  margin-left: 1.25%;
  margin-right: 2.5%;
}

div.product-thumbnail img {
  width: 100%;
  height: 168px;
  border: 2px solid #00002f;
  border-radius: 8px;
}


/* --------- product detail page ------------
----------------------------------------- */

div.product-image-slides {
  height: 410px;
}

div.product-image-slides img {
  width: 100%;
  height: 368px;
}

div.product-brand-info {
  text-align: inherit !important;
}

div.product-brand-info img{
  height: 50px;
  width: 50px;
  vertical-align: middle !important;
  border: 2px solid #00002f;
  border-radius: 8px;
}


div.product-brand-info a {
  float: right !important;
  padding-top: 5px !important;
}


div.product-button-bar {
  border-radius: 5px;
}

div.product-button-bar a, div.product-button-bar a:hover{
  border: none;
  background-color: #fff;
  color: #0081ff;
}

div.product-button-bar a.button.active{
  background-color: #fff;
  color: #0081ff;
  border-bottom: 3px solid #0081ff;
}

div.product-desc-wrap {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

div.product-desc-wrap img {
  width: 100%;
}

/* tabs & nav */


i[data-like="true"] {
  color:#e60000 !important;
}

i[data-like="false"] {
  color:#262626 !important;
}

div.tab-nav.tabs {
  background: linear-gradient(#ffffff, #f0f6f6);
}

.tab-item .icon {
  padding-top: 5px;
  font-size: 23px;
  margin-bottom: -3px;
}

#radio-tabs span.tab-title{
  font-size: 10px;
}

/* ------------------------------
-----channel detail page -----*/

.has-transparent-nav ion-header-bar.bar {
  background: none;
}

.has-transparent-nav ion-content {
  margin-top: -50px;
}



div.channel-profile {
  display: inline-block;
  position: relative;
  width: 100%;
}

div.channel-profile img {
  width: 100%;
  height: 280px;
}

div.channel-profile div{
  position: absolute;
  top:0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)); /*Standard*/
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0)); /*Safari 5.1-6*/
  text-align: center;
}

div.channel-profile div img {
  margin-top: 90px;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border:2px solid #aaaaaa;
}

div.channel-profile span {
  padding-left: 10px;
}

div.channel-profile h5 {
  font-weight: 700;
}

div.channel-profile h5, div.channel-profile p {
  color: white;
  padding: 0px;
  margin: 5px;
}

div.channel-profile button {
  margin-top: 0px;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-size: 12px;
}

/* shop */
ion-view[view-title='상점'] > .bar-subheader{
  height: 45px;
}

ion-view[view-title='상점'] > ion-content > div{
  margin-top: 0px;
}

/* shop-list gender toggle button */

.toggle.toggle-assertive div.track {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
  width: 41px;
  height: 20px;
  margin-top: 8px;
}
.toggle.toggle-assertive input:checked + .track {
  background-color: #43cee6;
  border-color: #43cee6;
}
.toggle.toggle-assertive div.track div.handle {
  width: 15px;
  height: 16px;
  margin-top: 8px;
}

/* ------private page--------
-------------------------- */


/* my info */

div.user-profile img{
  height: 70px;
  width: 70px;
  vertical-align: middle;
  border: 2px solid #00002f;
  border-radius: 50%;
}

div.user-profile span {
  font-size: 30px !important;
  margin-left: 20px;
}

div.user-profile a {
  float: right;
  top: 15px;
}

ion-scroll.private-menu-scroll {
  width: 100% !important;
}

ion-scroll.private-menu-scroll a{
  min-width: 50px;
}

ion-scroll.private-menu-scroll a:hover {
  cursor: pointer;
}

div.cart-list {
  position: relative;
}

div.cart-list img{
  height: 78px;
  width: 78px;
  float: left;
  vertical-align: middle;
}

div.cart-list > div{
  display: inline-block;
  float: left;
}

div.cart-list p.quantity {
  float: right;
}

div.cart-list div:last-child {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.cart-list div:last-child i {
  vertical-align: middle;
  margin-left: 10px;
}


/* my channel */

.channel-unfollow {
  float: right;
  height: 100%;
}

#edit-channel-alert {
  padding-top: 35px;
}

/* my brand */

/* my product */

#private-product-content div.col {
  float: left;
}


/* ---------login page -----------
-------------------------------*/

#login-content {
  padding: 100px 50px 0px 50px;
}

#login-content h1 {
  text-align: center;
}

#login-content form {
  text-align: center;
}

#login-content a:nth-of-type(1) {
  background: #3b5a95;
  border: none;
  color: #fff;
}

#login-content a:nth-of-type(1) i{
  margin-right: 5px;
}

/* -----signup page------
---------------------- */


#signup-form {
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
}

#signup-form-submit {
  margin-top: 30px;
}
