/* tabs & nav */

div.tab-nav.tabs {
  background: linear-gradient(#ffffff, #f0f6f6);
}

.tab-item .icon {
  font-size: 28px;
}

.scroll{
  height:100%;
}

ion-header-bar button.button.button-clear {
  color: #444; 
}
h2 {
  font-size: 21px !important;
}

h3 {
  font-size: 19px !important; 
  margin: 0px;
}

h4 {
  font-size: 17px !important;
}

h5 {
  font-size: 14px !important;
}

h6 {
  font-size: 13px !important;
}

p {
  font-size: 12px !important;
}

a:hover {
  text-decoration:none;
}

* {
  font-family: '33535gillsansmt', sans-serif;
}

ion-header-bar h5 {
  text-align: center;
}

.has-subheader.more-height{
  top:88px;
}

ion-header-bar.transparent-nav {
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)) !important; /*Standard*/
  border-bottom: none;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

ion-header-bar.transparent-nav button.back-button {
  color: #fff;
}

button.radio-block-button {
  line-height: 26px;
  width: 100%;
  background: none;
  border: 1px solid #DDD;

}

ion-header-bar div.buttons button{
  background: none;
  border: none;
}

.text-black * {
  color: #000 !important;
}


/* brand component */


div.follow.brand button.btn {
  width: 99px;
  height: 32.5px;
  border-radius :10px;
  border: none;
  background-color: #000;
  color: #fff;
}

div.follow.brand button.btn i{
  margin-right: 5px;
}

div.follow.brand p {
  text-align: center;
  font-weight: 700;
}

/* ------ main page ---------
--------------------------*/

/* hash tag global */

div.two-button-bar {
  display: inline-block;
  width: 100%;
}


div.two-button-bar a.button {
  width: 50%;
  float: left;
  background-color: #fff !important;
  border: none;
  font-size: 14px !important;
  font-weight: 700;
}

div.two-button-bar a.button.activated {
  background-color: #fff !important;
  border: none;
  box-shadow: none;
}

div.two-button-bar a.button.active {
  border-bottom: solid 3px red;
  box-shadow: none;
}

div.two-button-bar.another a.button{
  height: 47px;
  border: 1px solid #0080ff !important;
  color: #0080ff;
}


div.two-button-bar.another a.button:nth-of-type(1){
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

div.two-button-bar.another a.button:nth-of-type(2) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.two-button-bar.another a.button.active {
  background-color: #0080ff !important;
  border-bottom: inherit !important;
  color: #fff;

}

div.two-button-bar.three a.button {
  width: 33% !important;
}


/* main nav */

ion-header-bar.bar.bar-subheader.main-intro a {
  color: #444;
  font-size: 17px;
  line-height: 32px;
}

ion-header-bar.bar.bar-subheader.main-intro button:last-child{
  float: right;
  font-size: 14px;
}


ion-header-bar.bar.bar-subheader.hash-tag {
  height: 100px;
}


ion-header-bar button.share  {
  margin: auto;
  font-size: 18px;
}

ion-header-bar a.fa-heart-o {
  margin-top: 5px !important;
}

.fa-heart-o.true{
  color: red !important;
}

ion-header-bar a.fa-heart {
  margin-top: 5px !important;
}

ion-header-bar button.cart {
  background: #00b400 !important;
  border: 1px solid #000 !important;
  border-radius: 5px;
}

ion-header-bar button.cart a.button.button-icon.fa.fa-shopping-cart {
  color: #000;
}



/* channel list */

div.channel-list {
  width: 100%;
  height: 400px;
  position: relative;
}

div.channel-list * {
  position: absolute;
}

div.channel-list img {
  width: 100%;
  height: 212px;
}

div.channel-list div.image-wrap-black {
  background-color: rgba(0,0,0,0.5);
  height: 212px;
  width: 100%;
}

div.channel-list div.profile {
  text-align: center;
  width: 100%;
  top:15%;
}

div.channel-list div.profile * {
  color: #fff;
  position: relative;
}

div.channel-list div.profile h3 {
  font-size: 18px !important;
}

div.channel-list div.profile img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #fff;
}

div.channel-list div.follow {
  text-align: center;
  width: 100%;
  top: 48%;
  z-index: 5;
}

div.channel-list div.follow * {
  position: relative;
}

div.channel-list div.follow button {
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #fff;
  width: 150px;
  height: 36px;
}

div.channel-list div.issue-wrap {
  width: 100%;
  top: 212px;
}

div.channel-list div.issue-wrap * {
  position: relative;
  color: #fff;
}

div.channel-list div.issue-wrap div.issue {
  max-width: 50%;
  float: left;
  height: 187.5px;
}

div.channel-list div.issue-wrap div.issue * {
  text-align: center;
}

div.channel-list div.issue-wrap div.issue img {
  height: 100%;
}

div.channel-list div.issue-wrap div.issue div {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 187.5px;
  top: 0px;
}

div.channel-list div.issue-wrap div.issue h4 {
  font-size: 16px !important;
  bottom: 40%;
}



/* issue-list */

div.radio-list {
  width: 100%;
  height: 192px;
  position: relative;
}

div.radio-list * {
  position: absolute;
  color: #fff;
}

div.radio-list img {
  width: 100%;
  height: 192px;
}

div.radio-list div.image-wrap-black {
  width: 100%;
  height: 192px;
  background-color: rgba(0,0,0,0.5) !important;
}

div.radio-list div.image-wrap-white {
  width: 100%;
  height: 192px;
  background-color: rgba(255,255,255,0.5);
}

div.radio-list img.profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
}

div.radio-list div.info{
  width: 100%;
  top: 115px;
  left: 15px;
}

div.radio-list div.info * {
  position: relative;
}

div.radio-list div.info a{
  margin-right: 5px;
}

/* issue detail */

div.issue-detail {
  position: relative;
  text-align: center;
  color: #fff !important;
}

div.issue-detail img {
  height: 560px;
  width: 100%;
}

div.issue-detail > div:nth-of-type(1) {
  height: 560px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0px;
}

div.issue-detail div.info {
  position: absolute;
  bottom: 0px;
  top:50%;
  width: 100%;
  margin-right: auto;
}

div.issue-detail div.info *{
  position: relative;
  color: #fff !important;
}

div.issue-detail div.info h2 {
  font-weight: 700;
}

div.issue-detail div.profile {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

div.issue-detail div.profile *{
  position: relative;
}

div.issue-detail div.profile img {
  height: 40px;
  width: 40px; 
  border-radius: 50%;
  border: 1px solid #fff;
}


/* issue detail items */

div.issue-detail-item img{
  height: 560px;
  width: 100%;
}

div.issue-detail-item-list {
  width: 100%;
}

div.issue-detail-item-list h4 {
  margin-top: 10px;
  margin-left: 22px;
}

div.issue-detail-item-list div.item-thumbnail {
  max-width: 33%;
  float: left;
}

div.issue-detail-item-list div.item-thumbnail p {
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
}

div.issue-detail-item-list div.item-thumbnail img {
  width: 100%;
  height: 125px;
  border: 1px solid #DDD;
}

/* --------- product detail page ------------
----------------------------------------- */

div.product-image-slides {
  height: 410px;
}

div.product-image-slides img {
  width: 100%;
  height: 375px;
}
div.product-detail div.product-title{
  width: 100%;
  float: left;
  padding: 15px;
}

div.product-detail div.product-title h2 {
  display: inline-block;
}

div.product-detail div.product-title > p:nth-of-type(2) {
  font-size: 15px !important;
  margin-top: 30px;
}

div.product-detail div.product-title > p:nth-of-type(1) {
  display: inline-block;
  float: right;
  font-weight:  700;
}

div.product-detail div.product-title > span {
  font-size: 15px !important;
  font-weight: 700;
}

div.product-detail div.product-title div.two-button-bar {
  margin-top: 25px;
}

div.product-detail div.brand-info {
  text-align: inherit !important;
  margin: 5px;
}

div.product-detail div.brand-info img{
  height: 40px;
  width: 40px;
  vertical-align: middle !important;
  border-radius: 50%;
}


div.product-detail div.brand-info a {
  float: right !important;
  padding: 1% 0 !important;
}

div.product-detail div.desc-wrap {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

div.product-detail div.desc-wrap img {
  width: 100%;
}

/* ------------------------------
-----channel detail page -----*/

.has-transparent-nav ion-header-bar.bar {
  background: none;
}

.has-transparent-nav ion-content {
  margin-top: -50px;
}

.transparent-nav .bar.bar-header.white-header h2.title{
  color: #fff !important;
}



div.channel-detail {
  width: 100%;
  height: 285px;
  position: relative;
}

div.channel-detail * {
  position: absolute;
  color: #fff;
}

div.channel-detail img {
  width: 100%;
  height: 285px;
}

div.channel-detail > div:nth-of-type(1) {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 285px;
}

div.channel-detail div.info {
  width: 100%;
  top: 50%;
  left: 25px;
  padding: 10% 0;
}

div.channel-detail div.info * {
  position: relative;
}

div.channel-detail div.info img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

div.channel-detail div.info div.info-text {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  height: 60px;
  padding: 2% 0;
}

div.channel-detail h2 {
  margin-bottom: 0px;
}

div.channel-detail p {
  font-size: 14px !important;
}


div.channel-detail-issues {
  width: 100%;
  height: 192px;
}

div.channel-detail-issues * {
  position: absolute;
  color: #fff;
}

div.channel-detail-issues img {
  width: 100%;
  height: 192px;
}

div.channel-detail-issues button.like-btn {
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
  border: none;
}

div.channel-detail-issues button.like-btn * {
  position: relative;
  font-size: 21px;
}

div.channel-detail-issues > div:nth-of-type(1) {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 192px;
}

div.channel-detail-issues div.info {
  width: 100%;
  text-align: center;
  padding: 25% 0;
}

div.channel-detail-issues div.info * {
  position: relative;
}

/* brand detail page ! */

div.brand-detail div.title {
  padding: 15px;
  display: inline-block;
  width: 100%;
}

div.brand-detail div.title img {
  border-radius: 50%;
  height: 60px; 
  width: 60px;
  vertical-align: middle;
}

div.brand-detail div.title h2 {
  display: inline;
}

div.brand-detail div.title div.follow {
  float: right;
  height: 100% !important;
  padding: 4% 0;
}

div.brand-detail div.title div.follow p {
  font-weight: 700;
  text-align: center;
}

div.brand-feed:first-child {
  background-color: red !importantx;
}

div.brand-feed {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

div.brand-feed div.title {
  padding: 10px;
}

div.brand-feed div.title span{
  float: right;
  font-size: 12px;
}

div.brand-feed img {
  height: 320px;
  width: 100%;
}

div.brand-feed div.body p {
  padding: 10px;
}


/* ------private page--------
-------------------------- */

ion-header-bar a.fa-plus-square.actived {
  color: red !important;
}

ion-header-bar a.fa.fa-heart.actived {
  color: red !important;
}

ion-header-bar a.fa.fa-shopping-cart.actived {
  color: red !important;
}

a.button.actived {
  color: red !important;
}

div.my-channel-list {
  background-color: red;
  width: 85px;
  margin: 25px 17.5px 0px 17.5px;
  text-align: center;
  float: left;
}

div.my-channel-list:nth-of-type(3n+1) {
  background-color: blue;
  margin-left: 25px;
}

div.my-channel-list:nth-of-type() {
  /* 작성해야 함 */  
}




div.my-channel-list img{
  width: 100%;
  height: 85px;
  border-radius: 50%;
}

div.my-channel-list h6 {
  margin: 0px;
}



div.my-issue h3 {
  text-align: center;
}

div.my-issue div.info {
  top: 91px;
  left: 0px;
}


div.my-product-list i, div.my-issue div.radio-list i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 21px;
}

div.my-product-list {
  margin-top: 10px;
  display: inline-block !important;
  width: 42.05%;
  float: left;
  text-align: center;
  position: relative;
}


div.my-product-list:nth-of-type(2n+1){
  margin-left: 5.3%;
  margin-right: 2.65%;
}

div.my-product-list:nth-of-type(2n) {
  margin-left: 2.65%;
  margin-right: 5.3%;
}

div.my-product-list img {
  width: 100%;
}

div.my-product-list h5 {
  margin-bottom: 5px !important;
}

div.my-product-list h6 {
  margin-top: 0px;
}


div.cart-list {
  position: relative;
}

div.cart-list img{
  height: 78px;
  width: 78px;
  float: left;
  vertical-align: middle;
}

div.cart-list > div{
  display: inline-block;
  float: left;
}

div.cart-list p.quantity {
  float: right;
}

div.cart-list div:last-child {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.cart-list div:last-child i {
  vertical-align: middle;
  margin-left: 10px;
}


/* ---------login page -----------
-------------------------------*/

#login-content {
  padding: 100px 50px 0px 50px;
}

#login-content h1 {
  text-align: center;
}

#login-content form {
  text-align: center;
}

#login-content a:nth-of-type(1) {
  background: #3b5a95;
  border: none;
  color: #fff;
}

#login-content a:nth-of-type(1) i{
  margin-right: 5px;
}

/* -----signup page------
---------------------- */


#signup-form {
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
}

#signup-form-submit {
  margin-top: 30px;
}
